# Build Workflow

name: Build with Gradle

on:
  pull_request:
  workflow_dispatch:
  push:

concurrency:
  group: ${{ github.head_ref || format('{0}-{1}', github.ref, github.run_number) }}
  cancel-in-progress: true

jobs:
  build:
    name: Build

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 10

      - name: Set up JDK 8, 16, 17, 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: |
            8
            16
            17
            21

      - uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            **/loom-cache
            **/prebundled-jars
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Chmod Gradle
        run: chmod +x ./gradlew

      - name: Build
        run: ./gradlew build --no-daemon

      - name: Move build artifact
        run: |
          mkdir upload
          mv versions/1.8.9-fabric/build/libs/* upload/
          mv versions/1.8.9-forge/build/libs/* upload/
          mv versions/1.12.2-fabric/build/libs/* upload/
          mv versions/1.12.2-forge/build/libs/* upload/

      - name: Upload built mod JAR
        uses: actions/upload-artifact@v4
        with:
          name: built-mod-jar
          path: upload/Spice-*.jar
